.jumbotron {
   padding-top: 5rem;
    background-color: rgb(200, 142, 167);
}
/* body {
    min-height: 3000px;
} */
#galery {
    background-color: rgb(200, 142, 167);
}
footer {
    background-color: #643843;
    color: white;
}
section {
    padding-top: 5rem;
}
.img {
    width: 355px;
    height: 500px;
}
.jumbotron .lead {
   position: relative;
   color: blue;
   font-size: 30px;
   font-weight: 600;
}
.lead-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: azure;
    border-left: 2px solid blue;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate {
    40%, 60% {
        left: calc(100% + 4px);
    }
    100% {
        left: 0%;
    }
}